//jQuery
script(type='text/javascript', src='/lib/jquery/dist/jquery.js')
 
//underscore
script(type='text/javascript', src='/lib/underscore/underscore.js')

//.dat Parser
script(type='text/javascript', src='/js/DataFileParser.js')

//AngularJS
script(type='text/javascript', src='/lib/ng-file-upload/angular-file-upload-shim.js') 
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/ng-file-upload/angular-file-upload.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')
script(type='text/javascript', src='/lib/angularjs-scroll-glue/src/scrollglue.js')
 
//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/ui-utils.js')
 
//Bootstrap JS
script(type='text/javascript', src='/lib/jasny-bootstrap/dist/js/jasny-bootstrap.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')
 
//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/usersAPI.js')
script(type='text/javascript', src='/js/services/ParsingService.js')
script(type='text/javascript', src='/js/services/underscore.js')
script(type='text/javascript', src='/js/services/SchematicsAPI.js')
script(type='text/javascript', src='/js/services/breadcrumbs.js')
script(type='text/javascript', src='/js/services/validateLinkMapping.js')
script(type='text/javascript', src='/js/services/formValidation.js')
 
//Application Controllers
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/users.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/schematic_view.js')
script(type='text/javascript', src='/js/controllers/children_view.js')
script(type='text/javascript', src='/js/controllers/addStdFormCtrl.js')
script(type='text/javascript', src='/js/controllers/editStdFormCtrl.js')
script(type='text/javascript', src='/js/controllers/profile.js')
script(type='text/javascript', src='/js/controllers/editCompFormCtrl.js')
script(type='text/javascript', src='/js/controllers/editGrpFormCtrl.js')
script(type='text/javascript', src='/js/controllers/addCompFormCtrl.js')
script(type='text/javascript', src='/js/controllers/addGrpFormCtrl.js')
script(type='text/javascript', src='/js/controllers/DeleteModalCtrl.js')
script(type='text/javascript', src='/js/controllers/compareVersionModalCtrl.js')
script(type='text/javascript', src='/js/controllers/favourites.js')
script(type='text/javascript', src='/js/controllers/ComingModalCtrl.js')
script(type='text/javascript', src='/js/controllers/ValidationCtrl.js')
script(type='text/javascript', src='/js/controllers/versionListCtrl.js')
script(type='text/javascript', src='/js/init.js')
 
if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')