<section data-ng-controller="UploadController">
	<div data-ng-show="global.user.isAdmin">
		<div class="row">
            <div class="col-md-7">
                <!-- 2. ng-file-select | ng-file-select="options" -->
               <div class="panel panel-default">
                <div class="panel-heading">Create a new stadnard</div>
                <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class= "col-md-3 control-label">.DAT File</label>
                        <div class = "col-md-9">
                            <input ng-click="resetDAT()" ng-file-select="datFileSelect($files)" type="file" class=""/>
                            <div data-ng-show="error.dat" class="alert alert-danger alert-thin">
                                <p>{{error.dat}}</p>
                            </div>
                            <div data-ng-show="!error.dat && success.dat" class="alert alert-success alert-thin">
                                <p>{{success.dat}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class= "col-md-3 control-label">Mapping File (.Json){{valid.name}}</label>
                        <div class = "col-md-9">
                            <input ng-click="resetJSON()" ng-file-select="jsonFileSelect($files)" type="file"/>
                            <div data-ng-show="error.json" class="alert alert-danger alert-thin">
                                <p>{{error.json}}</p>
                            </div>
                            <div data-ng-show="!error.json && success.json" class="alert alert-success alert-thin">
                                <p>{{success.json}}</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group" ng-show="stdName">
                        <label class= "col-md-3 control-label">Standard Name: </label>
                        <div class = "col-md-9">
                            <p>{{stdName}}<p>
                            <div data-ng-show="error.name" class="alert alert-danger alert-thin">
                                <p>{{error.name}}</p>
                            </div>
                            <div data-ng-show="!error.name && valid.name" class="alert alert-success alert-thin">
                                <p>{{success.name}}</p>
                            </div>
                        </div>
                    </div>               
                    <div class="form-group" ng-show="stdName">
                        <label class= "col-md-3 control-label">Discription: </label>
                        <div class = "col-md-9">
                            <textarea class="form-control" rows="3" ng-model="desc"></textarea>
                        </div>
                    </div>  
                    <hr ng-show="stdName">             
                    <div class="form-group pull-right" style="margin-right:5px">
                        <button type="button" ng-click="validate()" class="btn btn-default" ng-disabled="!(valid.dat && valid.json && valid.name)">Validate</button>
                        <button type="button" ng-disabled="uploadDisabled" class="btn btn-primary" ng-click="uploadFiles()">Create</button>
                    </div>
            </form>
            </div>
            </div>
        </div>
            <div class="col-md-7" style="border: 3px lightgray;">
                <h4>Status {{datFileText}}</h4>
                <div class="well" style="overflow-y:auto; max-height: 400px">

                </div>
            </div>
        </div>
	</div>
</section>