<section data-ng-controller="UsersController" data-ng-init="find()">
<div>
	<div class="page-header"><h1>User Listings</h1></div>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="search" class="col-sm-2 control-label">Search by Name:</label>
			<div class="col-sm-5">
			 	<input id="search" class="form-control" ng-model="query.name">
			</div>
			<div class="col-sm-2">
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" ng-model="showUser"> Show Admins
			    </label>
			  </div>
			</div>
			<div class="col-sm-2">
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" ng-model="showMan"> Show Manufacturers
			    </label>
			  </div>
			</div>
		</div>
	 </form>
			<table class="table table-striped">
			    <thead>
			        <tr>
			          <th>Name</th>
			          <th>Designation</th>
			          <th>Last Login</th>
			          <th>Last Logout</th>
			          <th>Actions</th>
			        </tr>
			    </thead>
			    <tbody>
					<tr data-ng-repeat="user in users | filter:query | filter: custom | orderBy:'name'">
			          <td>{{user.name}}</td>
			          <td>{{(user.isAdmin?'Admin'+(user.isManufacturer?', Manufacturer ':''):(user.isManufacturer?'Manufacturer':'User'))}}</td>
			          <td>{{user.lastLogin | date:'medium'}}</td>
			          <td>{{user.lastLogout | date:'medium'}}</td>
			          <td><button type="button" data="{{user._id}}" data-ng-click='update(user._id)' class="btn btn-info btn-xs">{{user.isManufacturer?'Revoke Permissions':'Promote to Manufacturer'}}</button></td>
			        </tr>
			    </tbody>
			</table>
	<h3 style="text-align: center" data-ng-hide="!users || users.length">No users.<br></h3>
	</div>
</section>