.content {
    margin-top:50px;
    width:100%;
    max-height: 90%;
    overflow-y:hidden;
}

.container{
    height:90%;
}

h1 {
    text-align: center;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.alert-thin {
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.listing {
    max-height: 428px;
    overflow-y: auto;
}

.thick {
    min-height: 62px;
}

.local
{
    background-color:#F9F9F9;
}


.list-group-item:hover
{
    background-color:#ADD8E6;
}

.success
{
    color:green;
}

.error
{
    color:red;
}

.info
{
    color: black;
}

.validation-box 
{
    padding-left: 0px;
    line-height: 0.5em;
    font-size: 10px;
}

.center-result
{
    margin-left: 15px;
}

.list-title {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #428bca;
    color: white;
}

.list-title:hover{
    background-color: #428bca;
}

.list-title-btn
{
    margin-top: -3px;
    color:#f5f5f5;
}

.list-title-btn:hover
{
    color:white;
}