.content {
    margin-top:50px;
    width:100%;
    max-height: 90%;
    overflow-y:hidden;
}

.container{
    height:90%;
}

h1 {
    text-align: center;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.alert-thin {
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dropdown-menu{

}

.dropdown-menu .a{
    width:150px;
    margin-left: 10px;
}

.dropdown-btn .i{
    margin-top: 10px;
}

.dropdown-btn{
    width:150px;
    text-align:left;
}


.listing {
    height: 428px;
    overflow-y: auto;
}

.thick {
    min-height: 62px;
}

.local
{
    background-color:#F9F9F9;
}

.btn-separate
{
    margin-left: 10px;
}

.list-group-item:hover
{
    background-color:#ADD8E6;
}

.success
{
    color:green;
}

.error
{
    color:red;
}

.info
{
    color: black;
}

.validation-box 
{
    padding-left: 0px;
    line-height: 0.5em;
    font-size: 10px;
}

.grey
{
    color: #c7c7c7;
}

.yellow
{
    color: #ffdb58;
}

.center-result
{
    margin-left: 15px;
}

.list-title {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #428bca;
    color: white;
}

.list-title:hover{
    background-color: #428bca;
}

.list-title-btn
{
    margin-top: -3px;
    color:#f5f5f5;
}

.list-title-btn:hover
{
    color:white;
}

.header
{
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: italic;
}

.brand
{
    height: 45px;
    padding-top: 5px !important;
    margin-top: 0px;
}

.imgLoader img
{
    background: url('../img/loaders/loader-small.gif') no-repeat center;
}

.modal-body{
    background-color: white;
}

.modal-header{
    font-weight: bold;
    background-color:#e5e5e5;
    font-size: 14px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.star{
    color: #FFD700;
}

.clicked{
    background-color: #f5f5f5;
}

.italic
{
    font-style: italic;
}

.onHover
{
    display:none;
}

.showBtnOnHover:hover .onHover
{
    display:table-cell;
}

.showBlockOnHover:hover .onHover{
    display:block;
    width:40px;
}

.showBtnOnHoer input{
    border-radius: 4px !important;
}

.showIconOnHover:hover .onHover 
{
    display:inline;
}

.adjusted
{
    margin-left: -50px;
}

.disabled
{
    color:grey;
}

.placeholder
{
    width:inherit;
    height:inherit;
}

.muted
{
    color:grey;
    background-color: #f5f5f5;
    text-decoration:line-through;
}

.table-striped > tbody > tr:nth-child(odd).highlighted>td{
    background-color: aliceblue !important;
}

.highlighted
{
    background-color: aliceblue !important;
}

.unselectable
{
    -moz-user-select:moz-none;
    -webkit-user-select:none;
    user-select:none;
}

.link
{
    color:blue;
}

.semitransparent{
    opacity: 0.5;
}

.separate-right
{
    margin-right: 10px;
}

.dropdown-menu-bottom{
    max-height: 150px;
    overflow-y: auto;
}

