<div ng-hide="hide">
    <div class="modal-header">Add New Group:</div>
    <div class="modal-body" style="padding-bottom: 0px;">
    <form class="form-horizontal" name="editCompForm">
        <div class="form-group">
            <label class= "col-md-4 control-label">Group Name:</label>
            <div class = "col-md-8">
                <div class="input-group">
                <span class="input-group-addon"><i ng-show = "valid.name" class="fa fa-check success" ></i><i class="fa fa-times fileinput-exists error" ng-show="!valid.name && error.name"></i></span>
                <input type="text" class="form-control" ng-model="target.name" ng-blur="checkName()">
                </div>
                <p data-ng-show="error.name" class="error">{{error.name}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class= "col-md-4 control-label">ID:</label>
            <div class = "col-md-8">
                <div class="input-group">
                <span class="input-group-addon"><i ng-show = "valid.id" class="fa fa-check success" ></i><i class="fa fa-times fileinput-exists error" ng-show="!valid.id && error.id"></i></span>
                <input type="text" class="form-control" ng-model="target.id" ng-blur="checkId()">
                </div>
                <p data-ng-show="error.id" class="error">{{error.id}}</p>
            </div>
        </div>                     
        <hr>
        <div class="form-group">
            <label class= "col-md-4 control-label">Thumbnail:</label>
            <div class = "col-md-8">
                <div class="input-group">
                    <span class="input-group-addon"><i ng-show="valid.thumbnail" class="fa fa-check success" ></i><i class="fa fa-times fileinput-exists error" ng-show="!valid.thumbnail && error.thumbnail"></i></span>
                    <input type="text" class="form-control" ng-model="target.thumbnail" ng-blur="validateThumbnail()"
                    tooltip-html-unsafe="{{imgPreview}}" tooltip-placement="right">                
                </div>
                <p data-ng-show="error.thumbnail && !valid.thumbnail" class="error">{{error.thumbnail}}</p>
                
            </div>
        </div>
        <hr>            
        <div class="form-group" style="margin-right:5px">
            <div class="pull-right">
                <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
                <button type="button" ng-disabled="createDisabled" class="btn btn-primary btn-separate" ng-click="createComp()">Create</button>
            </div>
        </div>
    </form>
</div>
</div>
