<section data-ng-controller="UploadController">
    <!-- 2. ng-file-select | ng-file-select="options" -->
   <div class="panel panel-default" data-ng-show="global.user.isAdmin">
    <div class="panel-heading">Create a new standard</div>
    <div class="panel-body">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="alert alert-success alert-thin" ng-show="!datFile">
                    <h5>Step 1: Choose the .DAT file</h5>
            </div>
            <label class= "col-md-3 control-label">.DAT File</label>
            <div class = "col-md-9">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="input-group">
                        <div class="form-control" data-trigger="fileinput"><i class="fa fa-check success fileinput-exists" ng-show="!error.dat && success.dat"></i><i class="fa fa-times fileinput-exists error" ng-hide="!error.dat && success.dat"></i> <span class="fileinput-filename"></span></div>
                        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..." ng-file-select="datFileSelect($files)"></span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput" ng-click="resetDAT()">Remove</a>
                    </div>
                </div>
                    <p data-ng-show="error.dat" class="error">{{error.dat}}</p>
            </div>
        </div>
        <div class="form-group" ng-show="valid.dat">
            <div class="alert alert-success alert-thin" ng-show="datFile && !jsonFile">
                    <h5>Step 2: Choose the mapping File</h5>
            </div>
            <label class= "col-md-3 control-label">Mapping File (.Json)</label>
            <div class = "col-md-9">
               <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="input-group">
                        <div class="form-control" data-trigger="fileinput"><i class="fa fa-check fileinput-exists success" ng-show="!error.json && success.json"></i><i class="fa fa-times fileinput-exists error" ng-hide="!error.json && success.json"></i> <span class="fileinput-filename"></span></div>
                        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..." ng-file-select="jsonFileSelect($files)"></span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput" ng-click="resetJSON()">Remove</a>
                    </div>
                </div>
                    <p data-ng-show="error.json" class="error">{{error.json}}</p>
                </div>
            </div>
        <hr>
        <div class="form-group" ng-show="stdName && jsonFile && datFile">
            <div class="alert alert-success alert-thin">
                    <h5>Step 3: Enter the details of the standard</h5>
            </div>
            <label class= "col-md-3 control-label">Standard Name: </label>
            <div class = "col-md-9">
                <p><i class="fa fa-check success" ng-show="!error.name && success.name"></i><i class="fa fa-times fileinput-exists error" ng-hide="!error.name && success.name"></i> {{stdName}}</p>
                    <p data-ng-show="error.name" class="error">{{error.name}}</p>
            </div>
        </div>
        <div class="form-group" ng-show="stdName && jsonFile && datFile">
            <label class= "col-md-3 control-label">Description: </label>
            <div class = "col-md-9">
                <textarea class="form-control" rows="3" ng-model="desc"></textarea>
            </div>
        </div>
        <hr ng-show="stdName && jsonFile && datFile">
        <div class="form-group pull-right" style="margin-right:5px">
            <button type="button" ng-click="validate()" class="btn btn-default" ng-disabled="!(valid.dat && valid.json && valid.name) || sendingSuccess">Validate</button>
            <a type="button" ng-disabled="uploadDisabled" class="btn btn-primary btn-separate" ng-click="uploadFiles()"><img ng-show="sendingFlag" src="/img/loaders/loader-small.gif" style="margin-right:10px; margin-top: -2px"><i ng-show="sendingSuccess" style="margin-right:10px; color: white"class="fa fa-check"></i>Create</a>
        </div>
    </form>
</div>
</div>

</section>