<div class="container" data-ng-init="getAll()" ng-controller="Standards" style="min-height: 800px; padding-top:30px;">
  <ol class="breadcrumb">
    <li ng-repeat="breadcrumb in breadcrumbs.all()">
      <a href="{{breadcrumb.link}}" ng-hide="$last">
        {{breadcrumb.title}}
      </a>
      <span ng-show="$last">{{breadcrumb.title}}</span></li>
  </ol>
    <div class="row">
        <div class="col-md-5">
            <ul class="list-group">
                <div class="list-group-item list-title">Standards<a class="pull-right list-title-btn" ng-show="admin" ng-click="showAddForm()" tooltip="Create New Standard" tooltip-placement="bottom" tooltip-popup-delay="500"><i class="fa fa-plus fa-2x"></i></a></div> 
                <li class="list-group-item" ng-show="stds.length == 0">No standards availalbe now.</li>
                <li class="list-group-item" ng-repeat="std in stds" ng-mouseenter = "toggleOption(std, true)" ng-mouseleave = "toggleOption(std, false)" ng-class = "{local:!std.published}">
                    <a href="#!/standards/{{std._id}}">{{std.name}}</a>
                    <span style="position: absolute; right: 0px; height: 100%; top: 0px; padding-top: 12px; background-color: aliceblue;">
                        <a style="margin-right: 10px;" class="btn pull-right btn-link btn-xs" ng-click="showEditForm(std)" ng-show="std.showOption && admin" tooltip="Edit" tooltip-placement="bottom" tooltip-popup-delay="500">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a style="margin-right: 10px; margin-left: 10px;" ng-click="downloadStandard()" class="btn pull-right btn-link btn-xs" ng-show="std.showOption" tooltip="Download" tooltip-placement="bottom" tooltip-popup-delay="500">
                            <i class="fa fa-download"></i>
                        </a>
                        <a style="margin-left: 10px;" ng-click="publishStandard(std)" class="btn pull-right btn-link btn-xs" ng-show="std.showOption && std.published === 0 && admin" tooltip="Publish Standard" tooltip-placement="bottom" tooltip-popup-delay="500">
                            <i class="fa fa-cloud-upload"></i>
                        </a>
                        <a style="margin-left: 10px;" ng-click="unpublishStandard(std)" class="btn pull-right btn-link btn-xs" ng-show="std.showOption && std.published !== 0 && admin" tooltip="Unpublish Standard" tooltip-placement="bottom" tooltip-popup-delay="500">
                            <i class="fa fa-cloud-download"></i>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-md-7" data-ng-include src="form.URL">
        </div>
    </div>
</div>

