<div class="container" data-ng-init="getChildren()" ng-controller="Children" style="min-height: 800px; padding-top:30px;">
  <ol class="breadcrumb">
    <li ng-repeat="breadcrumb in breadcrumbs.all()">
       <a href="{{breadcrumb.link}}" ng-hide="$last">
        {{breadcrumb.title}}
       </a>
       <span class="dropdown"><a ng-hide="$last" class="dropdown-toggle" ng-click="getSiblings(breadcrumb)"><i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-menu adjusted">
            <li ng-repeat="s in bcMenu">
                <a href={{s.link}}>{{s.title}}</a>
            </li>
            <li ng-show="bcMenu.length == 0" class="disabled"><a>No other groups.</a></li>
        </ul>
        </span>
        <span ng-show="$last">{{breadcrumb.title}}</span>
    </li>
  </ol>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <div class="list-group-item list-title">Groups<a class="pull-right list-title-btn" ng-show="admin" ng-click="showSubtypeAddForm()"><i class="fa fa-plus fa-2x"></i></a></div> 
                    <li class="list-group-item" ng-show="subtypes.length == 0">No group at this level.</li>          
                    <li class="list-group-item imgLoader" ng-repeat="child in subtypes | filter: unpublished" ng-mouseenter = "toggleOption(child, true)" ng-mouseleave = "toggleOption(child, false)">
                        <img ng-src="{{child.thumbnail}}" ng-show="child.thumbnail" style="width: 40px; height: 40px; margin-right:10px;">
                        <a href="#!/standards/{{child._id}}">{{child.name}}</a>
                        <span style="position: absolute; right: 0px; height: 100%; top: 0px; padding-top: 12px; background-color: aliceblue;">
                            <a class="btn pull-right btn-link" ng-class="{'btn-s':{{!!child.thumbnail}}, 'btn-xs':{{!!!child.thumbnail}}}"  ng-show="child.showOption && admin" ng-click="showSubtypeEditForm(child)">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </span>
                    </li>
            </ul>
        </div>
        <div class="col-md-6">
             <ul class="list-group">
                <div class="list-group-item list-title">Components<a class="pull-right list-title-btn" ng-show="admin" ng-click="showLeafAddForm()"><i class="fa fa-plus fa-2x"></i></a></div>
                <li class="list-group-item" ng-show="leaves.length == 0">No components at this level.</li>          
                <li class="list-group-item imgLoader" ng-repeat="child in leaves | filter: unpublished" ng-mouseenter = "toggleOption(child, true)" ng-mouseleave = "toggleOption(child, false)">
                    <img ng-src='{{child.thumbnail}}' ng-show="child.thumbnail" style="width: 40px; height: 40px; margin-right:10px;">
                    <span>{{child.name}}<a class="badge light-badge" ng-class="{'badge-unpublished': {{!child.published}}}" style="margin-left:10px" ng-show="child.published !== child.version && admin" >{{child.version - child.published}}</a></span>
                    <span style="position: absolute; right: 0px; height: 100%; top: 0px; padding-top: 12px; background-color: aliceblue;">
                        <a class="btn pull-right btn-link" ng-class="{'btn-s':{{!!child.thumbnail}}, 'btn-xs':{{!!!child.thumbnail}}}" ng-click="addFav(child)" ng-show="child.showOption && child.published !==0 && !child.isFavourite && !child.isComposite && Global.authenticated">
                            <i class="fa fa-star-o"></i>
                        </a>
                        <a class="btn pull-right btn-link" ng-class="{'btn-s':{{!!child.thumbnail}}, 'btn-xs':{{!!!child.thumbnail}}}" ng-click="delFav(child)" ng-show="child.isFavourite && child.published !==0 && !child.isComposite && Global.authenticated">
                            <i class="fa fa-star star"></i>
                        </a>
                        <a ng-click="showVersionModal(child)" class="btn pull-right btn-link" ng-class="{'btn-s':{{!!child.thumbnail}}, 'btn-xs':{{!!!child.thumbnail}}}" ng-show="child.showOption && admin">
                        <i class="fa fa-clock-o"></i>
                        </a>
                        <a class="btn pull-right btn-link" ng-class="{'btn-s':{{!!child.thumbnail}}, 'btn-xs':{{!!!child.thumbnail}}}" ng-click="showEditForm(child)" ng-show="child.showOption && admin">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a ng-href="{{setDownloadLink(child.dl)}}" class="btn pull-right btn-link" ng-class="{'btn-s':{{!!child.thumbnail}}, 'btn-xs':{{!!!child.thumbnail}}}" ng-click="downloadLink(child.dl)" ng-show="child.showOption" >
                            <i class="fa fa-download"></i>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>