<div class="container" data-ng-init="getChildren()" ng-controller="Children" style="min-height: 800px; padding-top:30px;">
  <ol class="breadcrumb">
    <li ng-repeat="breadcrumb in breadcrumbs.all()">
      <a href="{{breadcrumb.link}}" ng-hide="$last">
        {{breadcrumb.title}}
      </a>
      <span ng-show="$last">{{breadcrumb.title}}</span></li>
  </ol>
    <div class="row">
        <div class="col-md-5">
            <a class="list-group-item active" ng-show="subtypes">Sub-types</a>
            <ul class="list-group listing">
                <li class="list-group-item" ng-repeat="child in subtypes" ng-mouseenter = "toggleOption(child)" ng-mouseleave = "toggleOption(child)">
                    <img src={{child.thumbnail}} ng-show="child.thumbnail" style="margin-right:10px;">
                    <a href="#!/standards/{{child._id}}">{{child.name}}</a>
                    <a class="btn pull-right btn-link" ng-class="{'btn-s':{{!!child.thumbnail}}, 'btn-xs':{{!!!child.thumbnail}}}" ng-click="toggleEditForm(child)" ng-show="child.showOption && admin">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn pull-right btn-link" ng-class="{'btn-s':{{!!child.thumbnail}}, 'btn-xs':{{!!!child.thumbnail}}}" ng-show="child.showOption && child.isPublished && admin">
                        <i class="fa fa-cloud-upload"></i>
                    </a>
                    <a class="btn pull-right btn-link" ng-class="{'btn-s':{{!!child.thumbnail}}, 'btn-xs':{{!!!child.thumbnail}}}" ng-show="child.showOption" >
                        <i class="fa fa-download"></i>
                    </a>
                </li>
            </ul>
            <a class="list-group-item active" ng-show="leaves">Components</a>
            <ul class="list-group listing">
                <li class="list-group-item" ng-repeat="child in leaves" ng-mouseenter = "toggleOption(child)" ng-mouseleave = "toggleOption(child)">
                    <img src={{child.thumbnail}} ng-show="child.thumbnail" style="margin-right:10px;">
                    {{child.name}}
                    <a class="btn pull-right btn-link" ng-class="{'btn-s':{{!!child.thumbnail}}, 'btn-xs':{{!!!child.thumbnail}}}" ng-click="toggleEditForm(child)" ng-show="child.showOption && admin">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn pull-right btn-link" ng-class="{'btn-s':{{!!child.thumbnail}}, 'btn-xs':{{!!!child.thumbnail}}}" ng-show="child.showOption && child.isPublished && admin">
                        <i class="fa fa-cloud-upload"></i>
                    </a>
                    <a class="btn pull-right btn-link" ng-class="{'btn-s':{{!!child.thumbnail}}, 'btn-xs':{{!!!child.thumbnail}}}" ng-show="child.showOption" >
                        <i class="fa fa-download"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>