<div>
    <div class="modal-header">Verifying .DAT and mapping files...</div>
    <div class="modal-body">
        <p>Loggin information...</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60%
            </div>
        </div>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()">Done</button>
    </div>
</div>