<div class="modal-header" ng-init="init()">
	Link Catalog Item to Icon...
</div>
<div class="modal-body">
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-md-2">Icon:</label>
			<div class="col-md-8">
				<div class="dropdown">
					<div class="input-group">
						<input type="text" placeholder="Filter by Name" ng-model="text" class="form-control">
						<span class="input-group-btn dropdown-toggle">
							<button class=" btn btn-default"><i class="fa fa-caret-down"></i></button>
						</span>
					</div>
					<ul ng-if="!stdSelected" class="dropdown-menu" style="padding-left:10px;">
						<li style="margin-left: -5px;" class="dropdown-header" ng-show="stds.length !== 0">Standards: </li>
						<li style="margin-left: 10px;" ng-show="stds.length !== 0" ng-click="selectStandard(s)" ng-repeat="s in stds|filter:text">{{s.name}}</li>
					</ul>
					<ul ng-if="stdSelected" class="dropdown-menu" style="width: 600px; padding-left:10px">
					<span class="col-md-6 list-group" style="margin-bottom: 15px;">
						<li class="list-group-item list-title" ng-show="children.groups.length !== 0">Groups: </li>
						<li class="list-group-item imgLoader" ng-show="children.groups.length !== 0" ng-click="select(child)" ng-repeat="child in children.groups|filter:text">
						<img ng-src='{{child.thumbnail}}' ng-show="child.thumbnail" style="width: 20px; height: 20px; margin-right:10px;">{{child.name}}</li>
					</span>
					<span class="col-md-6 list-group" style="margin-bottom: 15px;">
						<li class="list-group-item  list-title" ng-show="children.leaves.length !== 0">Components: </li>
						<li class="list-group-item imgLoader" ng-show="children.leaves.length !== 0" ng-repeat="child in children.leaves|filter:text">
						<img ng-src='{{child.thumbnail}}' ng-show="child.thumbnail" style="width: 20px; height: 20px; margin-right:10px;">{{child.name}}</li>
					</span>
					</ul>
				</div>
			</div>
		</div>
	</form>
</div>