<div class="container" ng-controller="manageCatalogCtrl" ng-init="init()" style="padding-top:30px;">
	<tabset justified="true">
    <tab>
    	<tab-heading>
        	<i class="fa fa-pencil"></i> Edit Existing Items
      	</tab-heading>
    	<div class="well" style="margin-top:10px">
			<div class="row">
				<form class="form-horizontal col-md-8 col-md-offset-2">
					<div class="form-group">
		    			<label class="col-sm-2 control-label">Search</label>
		    			<div class="col-sm-8">
			      			<input type="text" class="form-control" placeholder="Search Text Here">			      			
		   				</div>
		   			</div>
		   			<div class="form-group">
		    			<label class="control-label col-sm-2">Type</label>
		    			<div class="col-sm-4">
			      			<select class="form-control" ng-model="target" ng-options="type.name for type in types">
			      			</select>		      			
		   				</div>
		   			</div>
		   			<div class="form-group">
		   				<div class="col-sm-offset-2 col-sm-10">
		   					<button class="btn btn-primary" ng-click="showTypeList()">Search</button>
		   				</div>
		   			</div>
				</form>
			</div>
			<div class="row" ng-show="!!items">
				<div class="col-md-8 col-md-offset-2">
					<label class="col-sm-2 control-label">Show More</label>
					<div class="col-sm-8 input-group">
		      			<button class="btn btn-default" style="margin-right:10px; margin-bottom: 10px" ng-repeat="field in fields | orderBy:'title'"  ng-click="toggleField(field)" ng-class={'clicked':cols.indexOf(field)+1}><i ng-show="cols.indexOf(field)+1" class="fa fa-check success" ></i>{{'  '+field.title+'  '}}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12 panel panel-default" style="overflow:auto;" ng-show="!!items">
			<table class="table table-striped">
				<thead>
					<tr>
						<th ng-repeat="col in cols">{{col.title}}</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items">
						<td ng-repeat="col in cols">
							<span ng-repeat="(field,data) in item" ng-show="{{field !== '_id' && col.field === field}}"><i ng-show="col.field !== 'additionalInfo.weblink'">{{data? data: '-'}}</i><a ng-hide="col.field !== 'additionalInfo.weblink'" href="{{data? data: '#'}}"><i class="fa fa-external-link"></i></span>
						</td>
						<td>
							<a><i class="fa fa-pencil" style="margin-right:10px"></i></a>
							<a><i class="fa fa-clock-o"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
    </tab>
    <tab>
    	<tab-heading>
        	<i class="fa fa-plus"></i> Upload New Items
      	</tab-heading>
      	<div data-ng-include src="'views/Catalog/view.html'" style="padding-top:20px">
      	</div>
    </tab>
    </tabset>
		
</div>
