<section ng-init="init()">
<div class="modal-header">Add all un-matched sheets as new type:</div>
<div class="modal-body">
	Please confirm the new types:
	<table class="table table-striped" style="max-height:50%; overflow-y:scroll">
		<thead>
			<tr>
				<th>Sheet Name</th>
				<th>Type Name</th>
				<th>Sheet Title (Type Name)</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="sheet in sheets" ng-if="sheet.pending">
				<td>{{sheet.sName}}</td>
				<td class="showIconOnHover">
					<span ng-if="!showEditCode[$index]">{{newTypes[$index].code}} <a ng-click="showEditCode[$index]=true" class="onHover">Edit</a></span>
					<span ng-if="showEditCode[$index]">
							<input class="form-control" ng-model="newTypes[$index].code" ng-keydown="autoSubmitCode($event,$index)" ng-class="{'has-error':error[$index]}">
							<div ng-show="errorCode[$index]" class="help-block error">'{{sheet.dName}}' already exists in database.</div>
					</span>
				</td>
				<td class="showIconOnHover">
					<span ng-if="!showEditName[$index]">{{newTypes[$index].name}} <a ng-click="showEditName[$index]=true" class="onHover">Edit</a></span>
					<span ng-if="showEditName[$index]">
							<input class="form-control" ng-model="newTypes[$index].name" ng-keydown="autoSubmitName($event,$index)" ng-class="{'has-error':error[$index]}">
							<div ng-show="errorName[$index]" class="help-block error">'{{sheet.dName}}' already exists in database.</div>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-foot"></div>
<button class="btn btn-default" ng-click="cancel()">Cancel</button>
<button class="btn btn-primary" ng-disabled="doneDisabled" ng-click="apply()">Done</button>
</section>